.profile-pic
  = avatar_profile_link @user, {}, class: 'pull-left'

= link_to "Add your Band", new_band_path, class: "btn btn-default"
= link_to "New Status", new_status_path, class: "btn btn-default"
= link_to "New Instrument", new_instrument_path, class: "btn btn-default"

#tag_cloud
  - tag_cloud Band.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag.name, genres_path(tag.name), class: css_class

%h1 Activity Feed
- current_user.activities.each do |activity|
  -if activity.targetable
    .media
      = avatar_profile_link activity.user(:thumb), {}, class: 'pull-left'
      = link_to image_tag(activity.user.gravatar_url), profile_path(activity.user)
      .media-body
        %h4.media-heading 
          = activity.user.name_display
        = render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity }                                                          
        %br
    %hr
/ = will_paginate current_user.activities
/ - if @bands
/   %h2 Bands:
/   - @bands.each do |band|
/     - if can_display_band(band)    
/       %h3= link_to "#{band.name}", band_path(band)
/       - if band.document && band.document.attachment?
/         = band_logo_display(band)
/       %br
/       Genres:
/       = raw band.tag_list.map { |t| link_to t, genres_path(t) }.join(', ')
/       %br
/       %p Band Members:
/       - band.users.each do |member|
/         = link_to "#{member.name_display}", profile_path(member)

/       %p= link_to "Edit", edit_band_path(band)
/       / %p= link_to "Band Owner: #{band.user.name_display}", profile_path(band.user)- if @bands

/ - @statuses.each do |status|
/   %h2 Statuses:
/   - if can_display_status(status)    
/     %h3= link_to "#{status.content}", status_path(status)
/     - if status.document && status.document.attachment?
/       = status_document_link(status)
/     %br
/     %p= link_to "Edit", edit_status_path(status)
/     %p= link_to "Delete", status_path(status), method: :delete, data: { confirm: "Are you sure?"}