.page-header
  %h1= @user.name_display

- if signed_in? && (current_user != @user)
  #friend-status
    - if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) 
      = link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user.id), class: 'btn' 
    - else
      = link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn', id: 'add-friendship', data: { friend_id: @user.id }

  %h2 Your friends:
  - @user.friends.each do |friend|
    = friend.name_display

- if @bands 
  - @bands.each do |band|
    .well
      %h3= link_to "#{band.name}", band_path(band)
      %hr
      Genres:
      = raw band.tag_list.map { |t| link_to t, genres_path(t) }.join(', ')

      %p= link_to "Edit", edit_band_path(band)