.page-header
  %h1= @user.name_display
  - unless @user === current_user
    = link_to "Add Friend", new_user_friendship_path(friend_id: @user)
  %h2 Your friends:
  - @user.friends.each do |friend|
    = friend.name_display

- if @bands 
  - @bands.each do |band|
    .well
      %h3= link_to "#{band.name}", band_path(band)
      %hr
      Genres:
      = raw band.tag_list.map { |t| link_to t, genres_path(t) }.join(', ')

      %p= link_to "Edit", edit_band_path(band)