.page-header
  %h1 Friendships

.friend-list
  <strong>Friend list:</strong>
  = link_to 'Blocked', user_friendships_path(list: 'blocked')
  = link_to 'Requested', user_friendships_path(list: 'requested')
  = link_to 'Accepted', user_friendships_path(list: 'accepted')
  = link_to 'Pending', user_friendships_path(list: 'pending')
  
.col-md-7    
  - @user_friendships.each do |friendship|
    - friend = friendship.friend
    .row.friend{id: dom_id(friendship)}
      = avatar_profile_link friendship.friend, {}, class: 'pull-left'
      = link_to image_tag(friend.gravatar_url), profile_path(friend)
      .media-body
        %h4.media-heading= friend.name_display
        = succeed "." do
          %em
            Friendship is #{friendship.state}
        %br/
        = link_to "#{friendship.update_action_verbiage}", edit_user_friendship_path(friendship.friend.profile_name), class: 'btn btn-small'