= form_for @band, html: { :multipart => true } do |f|  
  .col-md-6
    Name:
    %br
    .col-md-12
      = f.text_field :name, class: "form-control"
    Band Members:
    %ul
      = hidden_field_tag "band[user_ids][]", nil
      - User.all.each do |user|
        %li
          = check_box_tag "band[user_ids][]", user.id
          = user.name_display
    %br
    = f.label :tag_list, "Genres (separated by commas)"
    %br
    .col-md-12
      = f.text_field :tag_list, class: "form-control"
    %br
    = f.label :links, "Links (Soundcloud, Youtube, etc., separated by commas)"
    %br
    .col-md-12
      = f.text_field :links, class: "form-control"
    %br
    = f.label :address
    %br
    .col-md-12
      = f.text_field :address, class: "form-control"
    %br
    <strong>Logo</strong>
    = f.fields_for :document do |document_fields|
      - if document_fields.object.attachment?
        .control-group
          %label.control-label Current attachment
          .controls
            = link_to document_fields.object.attachment_file_name, document_fields.object.attachment.url
      = document_fields.check_box :remove_attachment, as: :boolean, label: "Remove attachment?"
      = document_fields.file_field :attachment
    %br
    %br
    = f.submit value: 'Add', class: 'btn btn-default'