= form_for @band do |f|  
  .col-md-6
    = f.label :name
    %br
    .col-md-12
      = f.text_field :name, class: "form-control"
    Band Members:
    %ul
      = hidden_field_tag "band[user_ids][]", nil
      - User.all.each do |user|
        %li
          = check_box_tag "band[user_ids][]", user.id
          = user.name_display
    %br
    = f.label :tag_list, "Genres (separated by commas)"
    %br
    .col-md-12
      = f.text_field :tag_list, class: "form-control"
    %br
    = f.label :links, "Links (Soundcloud, Youtube, etc., separated by commas)"
    %br
    .col-md-12
      = f.text_field :links, class: "form-control"
    %br
    = f.label :address
    %br
    .col-md-12
      = f.text_field :address, class: "form-control"
    %br
    = f.label :logo
    .col-md-12
      = f.file_field :logo
    %br
    %br
    = f.submit value: 'Add', class: 'btn btn-default'