%nav.navbar.navbar-default.navbar-inverse.navbar-top
  %ul.nav.navbar-nav
    %li.active
      =link_to 'Gigsurfing', root_url
    %li
      %a{href: "#"} Profile
    %li
      %a{href: "#"} Messages
  #name
    %p
      - if user_signed_in? 
        = link_to "Friends", user_friendships_path
        = link_to image_tag(current_user.gravatar_url), profile_path(current_user)
        = link_to current_user.name_display, edit_user_registration_path 
        |
        = link_to "Sign Out", destroy_user_session_path, method: :delete     
      - else 
        = link_to "Register", new_user_registration_path 
        |
        = link_to "Sign In", new_user_session_path 
