%nav.navbar.navbar-default.navbar-top
  %ul.nav.navbar-nav
    %li
      -if user_signed_in?
        = link_to 'GigSurfing', root_url
      -else
        = link_to 'GigSurfing', root_url
    %li
      = link_to 'All Bands', bands_path
    %li#activity-feed
      = link_to 'Activity Feed', activities_path
    %li
      = link_to "Gear Share", instruments_path
  #name
    %p
      - if user_signed_in? 
        = link_to "Albums", albums_path(current_user)
        = link_to "Friends", user_friendships_path        
        = link_to "Feed", activities_path

       
        = link_to current_user.name_display, edit_user_registration_path 
        |
        = link_to "Sign Out", destroy_user_session_path, method: :delete     
      - else 
        = link_to "Register", new_user_registration_path 
        |
        = link_to "Sign In", new_user_session_path 
