<!DOCTYPE html>
<html>
<head>
  <title>Gigsurfing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/main_nav' %>
  
  <div class="container">
    <%= render 'layouts/flash' %>
    <%= render_breadcrumbs %>
    <%= yield %>
  </div>
</body>



<script id="activities-template" type="text/x-handlebars-template">
  <a class="dropdown-toggle" href="#">Activity Feed ({{count}})</a>
  <ul class="dropdown-menu">
  {{#each activities}}
    {{activityLink}}
  {{/each}}
  <li class="divider"></li>
  <li><a href="{{activityFeedLink}}">Activity Feed</a></li>
  </ul>
</script>

</html>
